<!-- Encabezado -->
<head>
  <title>Habla Diversa - Explorando Diversidad en Temas de Actualidad</title>
  <meta name="description" content="Habla Diversa es tu destino para explorar una amplia gama de temas incluyendo finanzas, tecnología, viajes y más. Únete a nuestra comunidad de curiosos.">
  <meta name="keywords" content="finanzas personales, tecnología, inteligencia artificial, viajes, educación">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <img src="assets/img/logo.png" alt="Logo de Habla Diversa" class="logo">
  <h1>Habla Diversa</h1>
  <nav>
    <a routerLink="/">Inicio</a>
  </nav>
</header>

<!-- Contenido de la página -->
<router-outlet></router-outlet>

<!-- Pie de página -->
<footer>
  <p>&copy; 2024 Habla Diversa- Todos los derechos reservados</p>
</footer>
