<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
</head>
<body>
  <div class="search-container">
    <form (ngSubmit)="search()">
      <input type="text" placeholder="Buscar entrada..." name="search" [(ngModel)]="searchTerm" (ngModelChange)="searchTerm = $event">
      <button type="submit">Buscar</button>
    </form>
  </div>


    <div class="container">
        <div class="row">
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>buscar</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <!-- Agrega más entradas aquí -->
        </div>
        <div class="advertisement">
            <!-- Código del anuncio de Google -->
            <p>Anuncio de Google</p>
        </div>
        <div class="row">
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
        </div>
        <div class="advertisement">
            <!-- Código del anuncio de Google -->
            <p>Anuncio de Google</p>
        </div>
        <div class="row">
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
            <div class="post">
                <img src="assets/img/img.webp" alt="Imagen de la primera entrada">
                <h2>Título de la primera entrada</h2>
                <p>Breve descripción de la primera entrada.</p>
            </div>
        </div>
    </div>

    <div class="pagination">
        <!-- Código de paginación -->
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
    <div class="advertisement">
        <!-- Nuevo anuncio -->
        <p>Otro anuncio</p>
    </div>

</body>
</html>
